@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #fff;
    --bg-color: #131313;
  }
}

body {
  background: var(--bg-color);
}
